canvas{
    background: white;
    border-radius: 5px;
    border: darkred 2px solid;
}
.gameMenu {
    padding: 5px;
    border: 1px solid darkred;
    border-radius: 10px;
    background-color: white;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    display: block;
    color: darkred;
}